@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Yantramanav:wght@400;500&display=swap');



* {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;

}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}



.col-1 {
  width: 8.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-2 {
  width: 16.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-4 {
  width: 33.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-5 {
  width: 41.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-7 {
  width: 58.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-8 {
  width: 66.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-10 {
  width: 83.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-11 {
  width: 91.66%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}


.ff-poppins {
  font-family: 'Poppins', sans-serif;
}

.ff-yantramanav {
  font-family: 'Yantramanav', sans-serif;
}

.d_none{
  display: none;
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

/* margin  padding */

.pt-17 {
  padding-top: 17px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-17 {
  padding-bottom: 17px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-46 {
  padding-bottom: 46px;
}


.pt-18 {
  padding-top: 18px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-3 {
  padding-top: 3px;
}



.gap-60 {
  gap: 60px;
}

.pb-25 {
  padding-bottom: 25px;
}

.gap-16 {
  gap: 16px;
}

.gap-23 {
  gap: 23px;
}

.mt-33 {
  margin-top: 33px;
}

.mt-143 {
  margin-top: 40px;
}

.mt-173 {
  margin-top: 50px;
}

.pl-25 {
  padding-left: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-13 {
  padding-top: 13px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pl-8 {
  padding: 8px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mt-131 {
  margin-top: 250px;
}

.mt-265 {
  margin-top: 265px;
}

.mb-40{
  margin-bottom: 40px;
}




/* header-section */
.bg-img {
  background-image: url(../images/header-black-img-2.png), url(../images/header-img-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 18px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.mx-1040 {
  max-width: 1040px;
}

.mx-765 {
  max-width: 765px;
}

.get-btn {
  padding: 11px 28px;
  border-radius: 28px;
  background: #2C49FE;
  border: 1px solid #2c49fe;
  transition: .4s;
}

.get-btn:hover {
  animation: common-btn 1s;
    box-shadow: 0 0 0 0.7em transparent;
    background:#2c49fe;
}

@keyframes common-btn {
  0% {
      box-shadow: 0 0 #2C49FE;
  }
}

.line-img-h::after {
  content: "";
  width: 10%;
  height: 8px;
  background-color: #01c8ff;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.line-img-h::before {
  content: "";
  width: 90%;
  height: 8px;
  background-color: #2c49fe;
  position: absolute;
  bottom: -10px;
  left: 0;
}


/*----------------------------------- nav section -----------------------------------*/

.nav-line::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 15px;
  background: var(--color-white);
  right: 0;
  bottom: -60%;
  transition: .5s;
}

.nav-line:hover::before {
  width: 100%;
  left: 0;

}

.fw-h {
  transition: .4s;
}

.fw-h:hover {
  -webkit-text-stroke: .5px;
}

.cross-1 {
  rotate: 45deg;
  transition: .4s;
}

.cross-2 {
  position: relative;
  transition: .4s;
  top: -80%;
  rotate: -45deg;
}

.cross-3 {
  display: none !important;
}

.cross-4 {
  transition: .4s;
}

.cross-5 {
  transition: .4s;
}

.cross-6 {
  transition: .4s;
}

.flow-hidden {
  overflow: hidden;
}

.nav-btn {
  padding: 11px 28px;
  border-radius: 23px;
  background: #2C49FE;
  border: 1px solid #2C49FE;
  transition: .4s;
}

.nav-btn:hover {
  animation: common-btn 1s;
  box-shadow: 0 0 0 0.7em transparent;
  background:#2c49fe;
}

.nav-btn {
  padding: 11px 28px;
  border-radius: 23px;
  background: #2C49FE;
}

/* blue-area */


.box {
  border-radius: 50px;
background: rgba(44, 73, 254, 0.74);
  padding: 17px 23px;
  
}

.loco {
  margin-left: 15px;
}


.card {
  border: 1px solid #2C49FE;
  height: 100%;
  padding-bottom: 17px;
}

.blue-area {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.gap-48 {
  gap: 48px;
}

.mb-45 {
  margin-bottom: 45px;
}

.go-cheak {
  border-radius: 150px;
  background: #FFF;
  padding: 20px 40px;
  color: #2C49FE;
  border: 1px solid #fff;
  transition: .4s;
}

.go-cheak:hover {
  animation: common-btn1 1s;
    box-shadow: 0 0 0 0.7em transparent;
    background:#fff;
}

@keyframes common-btn1 {
  0% {
      box-shadow: 0 0 #fff;
  }
}

.get-more {
  padding-bottom: 145px;
}

.mt-150 {
  margin-top: 50px;
}

.mb-100 {
  margin-bottom: 130px;
}

.shadow {
  position: relative;
  bottom: 55px;
}

.linesec {
  width: 189px;
  height: 8px;
}

.card3 {
  border-radius: 5px;
  border: 1px solid #2C49FE;
  background: #FFF;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 73px;
  margin-right: 15px;

}

.common-img {
  transition: .4s;
}
.common-img:hover {
 transform: scale(1.8);
}



/* section-2 */
.card1 {
  border-radius: 5px;
  border: 1px solid #2C49FE;
  background: #FFF; 
  margin-right: 15px;
  margin-top: 50px;
  transition: .4s;
  padding-top: 15px;
}

.card1:hover {
  background-color: #2C49FE;
}

.card1:hover .sharing-para {
  color: #FFFFFF;
}

.card1:hover .sharing {
  color: #FFFFFF;
}

.card1:hover .info {
  color: #FFFFFF;
}

.card1:hover .help {
  color: #FFFFFF;
}

.icon1 {
  border-radius: 79px;
  border: 2px solid #2C49FE;
  background: #FFF;
  padding: 15px 16px;
  margin-top: -47px;
}

.mx-174 {
  max-width: 174px;
}

.icon2 {
  border-radius: 79px;
  border: 2px solid #2C49FE;
  background: #FFF;
  padding: 21px 23px;
  margin-top: -47px;
}

.icon3 {
  border-radius: 79px;
  border: 2px solid #2C49FE;
  background: #FFF;
  padding: 21px 21px;
  margin-top: -40px;
}

/* section--3 */

.img-bg {
  background-image: url(../images/sec-3-bg-img2.png), url(../images/sec-3-bg-img1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mx-708 {
  max-width: 708px;
}

.mx-765 {
  max-width: 765px;
}

/* section--4 */

.mt-153 {
  margin-top: 30px;
}

.mx-338 {
  max-width: 338px;
}

.mx-438 {
  max-width: 438px;
}

.cards2 {
  border-radius: 5px;
  background: #FFF;
  transition: .4s;
  padding: 12px;
  box-shadow: 2px 9px 32px 0px rgba(0, 0, 0, 0.06); 
}


/* footer */
.mx-315 {
  max-width: 315px;
}

.mx-346 {
  max-width: 346px;
}

/* section-5 */
.firstname {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding-left: 10px;

}

.lastname {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  margin-left: 20px;

}

.min_vh_100 {
  min-height: 100vh;
}

.btns3 {

  width: 100%;
  padding: 11px 28px; 
  border-radius: 23px;
  background: #2C49FE;
  border: solid #2C49FE;
  margin-bottom: 90px;
}
.btns3:hover {
  animation: common-btn 1s;
  box-shadow: 0 0 0 0.7em transparent;
  background:#2c49fe;
}

.w-50 {
  width: 50%;
}

.email {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding: 10px;
}

.pass {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding-left: 10px;


}

.word {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  margin-left: 20px;


}

.img1 {
  margin-top: 20px;
  width: 80%;
}

textarea {
  resize: none;
  padding-left: 10px;
  padding-top: 10px;
  height: 91px;
  width: 100%;
}

.pt-100 {
  padding-top: 30px;
}

.show-moref {
  background: rgba(45, 60, 174, 0.53);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-126 {
  margin-top: 126px;
}

.mt-81 {
  margin-top: 43px;
}

.f-icon{
  transition: .4s;
}
.f-icon:hover{
  transform: translateY(-40%);
}

.f-line::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 15px;
  background: var(--color-white);
  right: 0;
  bottom: -30%;
  transition: .5s;
}

.f-line:hover::before {
  width: 100%;
  left: 0;

}



/* -------------------------------------preloader------------------------------------- */
.loader_bg {
  /* position: fixed; */
  z-index: 9;
  background: #000;
}
.scroll-smooth{
  scroll-behavior: smooth;
}
.vh-100{
  min-height: 100vh;
}

.position-fixed{
  position: fixed;
}

.z-6{
  z-index: 6;
}

.start-0{
  left: 0;
}

.top-0{
  top: 0;
}

.preloder-img{
animation-name: lodar;
animation-duration: 3s;
animation-timing-function: linear;
}
@keyframes lodar{
  0%{
    scale: 0.7;
  }
  25%{
    scale: 1.1;
  }
  50%{
    scale: 0.7;
  }
  75%{
    scale: 1.1;
  }
  0%{
    scale: 0.7;
  }
}

/* ------------------------------------back-to-top------------------------------------ */
#backtotop {
  transition: .3s;
  position: fixed;
  bottom: 1px;
  right: 1px;
  z-index: 2;
  cursor: pointer;
  animation: float 2s linear infinite;
}


.display_none {
  display: none;
}

.display_block {
  display: block;
}

.w_100 {
  width: 25%;
}

.circle{
  border-radius: 50px ;
  padding: 1px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media screens */
@media (min-width:576px) {
  .col-sm-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-sm-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }


}

@media (min-width:768px) {
  .col-md-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-md-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-md-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-md-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .mb_md_30 {
    margin-bottom: 30px;
  }

  .box {
    border-radius: 150px;
  }

  .mt_md_0 {
    margin-top: 0;
  }

  .blue-area::after {
    content: url('');
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    right: 50%;
    top: 0;
  }

  .blue-area::before {
    content: url('');
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 42%;
  }

  .mt-173 {
    margin-top: 173px;
  }

  .mt-143 {
    margin-top: 143px;
  }

  .bg-img {

    padding-bottom: 110px;

  }

  .mt-150 {
    margin-top: 150px;
  }

  .mt-153 {
    margin-top: 153px;
  }

  .pt-100 {
    padding-top: 100px;
  }
}

@media (min-width:992px) {
  .col-lg-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-lg-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
  }

}

@media (min-width:1200px) {


  .col-xl-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .br_xl-right {
    border-right: 2px solid white;
  }

  .col-xl-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .col-xl-5 {
    width: 41.66%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .col-xl-7 {
    width: 58.33%;
    padding-right: 12px;
    padding-left: 12px;
  }

  .mb-xl-0 {
    margin-bottom: 0;
  }

  .blue-area::after {
    content: unset;
  }

  .blue-area::before {
    content: unset;
  }

}

@media (max-width:992px) {
  label[id="menuIcon"] {
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 2%;
    top: 44%;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    align-items: center;
  }

  label[id="menuIcon"]>span {
    width: 100%;
    height: 5px;
    background: white;
  }

  .nav-box {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -100%;
    position: fixed;
    opacity: 1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: var(--color-blue);
    z-index: 3;
    box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
    transition: all 500ms linear;
  }

  .fix-lft {
    right: 0;
  }

}


